<template>
  <div id="App">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg navbar-light" id="navigation">
    
      <div class="container-fluid">
        <div class="navbar-header">
          <router-link class="navbar-brand" to="/HomePage">Themen Vergabe System</router-link>
        </div>
        <ul class="nav navbar-nav navbar-right">  
          <li v-if = "user"><button disabled id="nameButton" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><i class="fas fa-user"></i> {{user.nickname}}</button></li>
          <li v-if = "user"><button disabled id="userrole" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><i class="fas fa-users"></i> {{user.role}}</button></li>
          <li v-if="authenticated"><button id="logout" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-on:click="$router.push('/login')"><i class="fas fa-sign-out-alt"></i> Abmelden</button></li>
          <li><button v-on:click="$router.go(-1)" id="backbtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><i class="fas fa-arrow-left"></i> zurück</button></li>
        </ul>
      </div>
    </nav>
    <div>
    
        <div class="container">
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    <div v-if="alert.message" :class="`alert ${alert.type}`">{{alert.message}}</div>
                   
                </div>
            </div>
        </div>
           <router-view></router-view>
    </div>
  </div>
</template>

<script>
/* eslint-disable */

//import { authHeader } from './_helpers';
//import { getCurrentUserObject} from './_services/'

export default {

  name: 'App',
  data() {
      return {       
        authenticated: false
      }
  },
  computed: {
     user () {
          this.authenticated = this.isAuthenticated()
            return this.$store.state.authentication.user;
        },
        alert () {
            return this.$store.state.alert
        }
    },
  watch:{
        $route (to, from){
            // clear alert on location change
            this.$store.dispatch('alert/clear');
        }
    },
  created() {
  },
  methods:{
    // logout(){
    //   console.log("LOGGING OUT FROM HEADER")
    //   this.$store.dispatch('authentication/logout');
    // }

    isAuthenticated() {
      return JSON.parse(localStorage.getItem('user')) != null
      // getCurrentUserObject().then(res => this.authenticated = res.name !== '')
    }
  }
}

</script>

<style>
  .btn {
    margin-left: 5px;
  }

  #navigation {
    background-color: #4285F4;
  }

  #footer {
    background-color: #009688;
    margin-top: 15px;
    position: fixed;
    left: 0; 
    bottom: 0;
    width: 100%;
  }

  nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin-bottom: auto;
    z-index: 1000;
}

.mybtn {
  color: #ffffff;
  text-decoration: none;
}

#userrole {
  text-decoration: none;
  color: #ffffff;
}

#backbtn {
  color: #ffffff;
}
#nameButton {
  color: #ffffff;
}
#logout {
  color: #ffffff;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 3px 10px #999;
}
</style>

