<template>
  <div
    id="modal-description"
    class="modal fade in show modal-description"
    tabindex="-1"
    aria-hidden="true"
    role="dialog"
    aria-labelledby="mySmallModalLabel"
  >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{titleText}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{bodyText}}</p>
        </div>
        <div class="modal-footer">
          <button
            class="mdl-button mdl-button--raised" id="closebtn"
            v-on:click="sendSuccess()"
          >{{buttonText}}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
    name:"Modal_Description",
    props:{
        bodyText: {
          type: String,
          default: "Beschreibung des Themas"
        },
        buttonText: {
          type: String,
          default: "Schließen"
        },
        titleText: {
          type: String,
          default: "Name des Themas"
        }
    },
    data:function(){
        return{
        }
    },
    methods:{
        sendSuccess:function(){
            this.$emit("success");
        }
    }
};
</script>

<style scoped>
</style>
