<template>
    <div class="container">
        <h1>Thema Zuweisung</h1>
        <div v-if="themas.assignThema !== null || themas.assignThema === 'undefined'">
        <h5>Zugewiesenes Thema: {{themas.assignThema.name}}</h5><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-on:click="deleteAssignThema(themas.assignThema)">Zuweisung löschen</button>
        </div>
        <div v-if="themas.allowThemas.length > 0">
        <h4>Erlaubte Themen</h4>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th>Aktionen</th>
            </thead>
            <tr v-for="(thema,index) in themas.allowThemas" :key="thema.id">
                <td class="mdl-data-table__cell--non-numeric">{{thema.name}}</td>
                <td><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-on:click="assignThema(index,thema)">Thema zuweisen</button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-on:click="excludeThema(index,thema)">Thema ausschließen</button></td>
            </tr>
        </table>
        </div>
        <div v-if="themas.excludeThemas.length > 0">
        <h4>Ausgeschlossene Themen</h4>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th>Aktionen</th>
            </thead>
            <tr v-for="(thema,index) in themas.excludeThemas" :key="thema.id">
                <td class="mdl-data-table__cell--non-numeric">{{thema.name}}</td>
                <td><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-on:click="allowThema(index,thema)">Thema erlauben</button></td>
            </tr>
        </table>
        </div>
        <button v-on:click="$router.go(-1)" id="backbtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><i class="fas fa-arrow-left"></i> zurück zur Übersicht</button>
    </div>
</template>

<script>
import themaService from '../service/ThemaService';

export default {
    name: "AdminAssignThemaPage",
    components: {},
    data: function() {
    return {
      userID:"",
      themas: {
          assignThema: {
              name: null,
              themaId: null
          },
          allowThemas: [],
          excludeThemas:[],
      }
    };
  },
  methods: {
    assignThema(index,thema) {
        themaService.assignThema(thema.themaId,this.userID);
        if(this.themas.assignThema !== null) {
             this.themas.allowThemas.push(this.themas.assignThema);
        }
        this.themas.assignThema = thema;
        this.themas.allowThemas.splice(index,1);
    },
    deleteAssignThema(assignThema) {
        themaService.deleteAssignThema(assignThema.themaId,this.userID);
        this.themas.allowThemas.push(assignThema);
        this.themas.assignThema = null;
    },
    excludeThema(index,thema) {
        if(confirm("Wollen sie wirklich das Thema "+thema.name+" ausschließen?")) {
            themaService.excludeThema(thema.themaId,this.userID);
            this.themas.excludeThemas.push(thema);
            this.themas.allowThemas.splice(index,1);
        }
    },
    allowThema(index,thema) {
        themaService.allowThema(thema.themaId,this.userID);
        this.themas.allowThemas.push(thema);
        this.themas.excludeThemas.splice(index,1);
    },
  },
  created() {
      this.userID = this.$route.params.userID;
      themaService.getAllThemaDataForUser(this.userID).then(response => (this.themas=response.data));
  }
}

</script>

<style>
</style>