<template>
    <div class="signup">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <h2 class="text-center">Erstellen eines neuen Themas</h2>
                    <form @submit.prevent="handleSubmit">
                        <div class="form-group">
                            <input type="text" placeholder="Name" v-model="themaname" name="themaname" id="themaname" class="form-control" :class="{ 'is-invalid': submitted && !themaname }" />
                            <div v-show="submitted && !themaname" class="invalid-feedback">Thema Name ist erforderlich</div>
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Beschreibung" v-model="description" rows="25" cols="150"></textarea>
                        </div>
                        <div class="createButton">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" :disabled="areEmpty"><i class="fas fa-plus-circle"></i> Erstellen</button>
                        </div>
                    </form>
                    <button v-on:click="$router.go(-1)" id="backbtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><i class="fas fa-arrow-left"></i> zurück zur Übersicht</button>
            </div>
        </div>
    </div>
</template>

<script>
import themaService from '../service/ThemaService';
/* eslint-disable no-unused-vars */

export default {
    data() {
        return {
            themaname: '',
            description: "",
            submitted: false
        }
    },
    methods: {
       handleSubmit (e) {
            this.submitted = true;
            themaService.createThema(this.themaname,this.description);
        }, 
    },
    computed: {
        areEmpty () {
			return (this.themaname == '' || this.description == "");
		}
    }
}; 
</script>

<style>
</style>