<template>
    <div class="signup">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <h2 class="text-center">Bearbeiten eines Themas</h2>
                    <form @submit.prevent="handleSubmit">
                        <div class="form-group">
                            <input type="text" placeholder="Name" v-model="thema.name" name="themaname" id="themaname" class="form-control" :class="{ 'is-invalid': submitted && !thema.name }" />
                            <div v-show="submitted && !thema.name" class="invalid-feedback">Thema Name ist erforderlich</div>
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Beschreibung" v-model="thema.description" :class="{ 'is-invalid': submitted && !thema.description }" rows="25" cols="150"></textarea>
                            <div v-show="submitted && !thema.description" class="invalid-feedback">Thema Beschreibung ist erforderlich</div>
                        </div>
                        <div class="createButton">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" :disabled="areEmpty"><i class="fas fa-plus-circle"></i> Speichern</button>
                        </div>
                    </form>
                    <button v-on:click="$router.go(-1)" id="backbtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><i class="fas fa-arrow-left"></i> zurück zur Übersicht</button>
            </div>
        </div>
    </div>
</template>

<script>
import themaService from '../service/ThemaService';
/* eslint-disable no-unused-vars */

export default {
    data() {
        return {
            themaId: "",
            thema:{},
            submitted: false
        }
    },
    methods: {
       handleSubmit (e) {
            this.submitted = true;
            themaService.editThema(this.themaId,this.thema);
        }, 
    },
    computed: {
        areEmpty () {
			return (this.thema.name == '' || this.thema.description == "");
		}
    },
    created(){
        this.themaId = this.$route.params.themaId;
        themaService.getThemaDataDTO(this.themaId).then(response => this.thema=response.data);
    }
}; 
</script>

<style>
</style>