<template>
  <div class="container">
    <h1>Themenvergabe Management</h1>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-on:click="autoAssignThema()">Themen automatisch zuweisen</button>
    <h4>Studenten</h4>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <th class="mdl-data-table__cell--non-numeric">Vorname</th>
        <th class="mdl-data-table__cell--non-numeric">Nachname</th>
        <th class="mdl-data-table__cell--non-numeric">Username</th>
        <th class="mdl-data-table__cell--non-numeric">Datenschutz akzeptiert</th>
        <th class="mdl-data-table__cell--non-numeric">Thema</th>
        <th class="mdl-data-table__cell--non-numeric">Aktionen</th>
      </thead>
      <tr v-for="(user,index) in dto.users" :key="user.id">
        <td class="mdl-data-table__cell--non-numeric">{{user.name}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{user.surname}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{user.username}}</td>
        <td class="mdl-data-table__cell--non-numeric" v-if="user.dataProtectionAccepted">Ja</td>
        <td class="mdl-data-table__cell--non-numeric" v-if="!user.dataProtectionAccepted">Nein</td>
        <td class="mdl-data-table__cell--non-numeric" v-if="user.themaname !== null">{{user.themaname}}</td>
        <td class="mdl-data-table__cell--non-numeric" v-if="user.themaname === null">Kein Thema</td>
        <td><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-on:click="assignThema(user)"><i class="fas fa-user-cog"></i> Thema zuweisen oder ausschließen</button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-on:click="deleteUser(index,user)"><i class="fas fa-trash"></i> Löschen</button></td>
      </tr>
    </table>
    <h4>Themen</h4>
    <router-link :to="{ name:'CreateThemaPage'}">
      <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <i class="fas fa-plus-circle" style="padding-right: 10px"></i> Neues Thema erstellen
      </button>
    </router-link>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Beschreibung</th>
        <th class="mdl-data-table__cell--non-numeric">Aktionen</th>
      </thead>
      <tr v-for="(thema,index) in dto.themas" :key="thema.id">
        <td class="mdl-data-table__cell--non-numeric">{{thema.name}}</td>
        <td><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" @click="showDescription(thema)">Beschreibung anzeigen</button></td>
        <td><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-on:click="editThema(thema)" ><i class="fas fa-wrench"></i> Thema bearbeiten</button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-on:click="deleteThema(index,thema)"><i class="fas fa-trash"></i> Löschen</button></td>
      </tr>
    </table>

    <Modal_Description
        :titleText="themaNameModal" 
        :bodyText="themaDescriptionModal"
        @success="hideDescription()"
    />
  </div>
</template>

<script>
/* eslint-disable no-unused-vars */
import userService from "../_services/user.service";
import themaService from '../service/ThemaService';
import $ from "jquery";
import Modal_Description from './Util/Modal-Description.vue';

export default {
  name: "ManageThemaPage",
  components: {
    "Modal_Description": Modal_Description
  },
  data: function() {
    return {
      dto: {},
      themaNameModal:"",
      themaDescriptionModal:""
    };
  },
  methods: {
    autoAssignThema(){
      themaService.autoAssignThema();
    },
    deleteUser(index,user) {
      if(confirm("Wollen sie wirklich den User "+user.username+" löschen?")){
        userService.deleteUser(user.userId);
        this.dto.users.splice(index,1);
      }
    },
    assignThema(user) {
      this.$router.push({
        name:"AdminAssignThemaPage",
        params:{'userID': user.userId}})
    },
    showDescription: function(thema) {
      this.themaNameModal = thema.name;
      this.themaDescriptionModal = thema.description;
      $("#modal-description").modal("show");
    },
    hideDescription: function() {
      $("#modal-description").modal("hide");
    },
    editThema(thema) {
      this.$router.push({
        name:"EditThemaPage",
        params:{'themaId':thema.themaId}})
    },
    deleteThema(index,thema) {
      if(confirm("Wollen sie wirklich das Thema "+thema.name+" löschen?")){
        themaService.deleteThema(thema.themaId);
        for(var i=0; i < this.dto.users.length; i++) {
          if(this.dto.users[i].themaname == thema.name){
            this.dto.users[i].themaname= null;
          }
        }
        this.dto.themas.splice(index,1);
      }
    }
  },
  created() {
    userService.getDTO().then(response => (this.dto = response.data));
  }
}
</script>

<style>
</style>