<template>
    <div>
        <h1> hallo</h1>
        <div v-if="user.role == 'TEACHER'"><creator></creator></div>
        <div v-if="user.role == 'STUDENT'"><user></user></div>
    </div>
</template>


<script>


export default {
  name: 'RoleTest',
  computed: {
        user () {
            return this.$store.state.authentication.user;
        }
  },
 components:{
  },
}
</script>

