<template>
    <div class="container">
        <h4>ThemaPage</h4>
        <div v-if="dto.assignThema !== null || dto.assignThema === 'undefined'">
        <h5>Zugewiesenes Thema: {{dto.assignThema.name}}</h5>
        </div>
        <div v-if="dto.themas.length > 0">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">Aktion</th>
            <th class="mdl-data-table__cell--non-numeric">Prioritäten</th>
          </thead>
          <tr v-for="(thema,index) in dto.themas" :key="thema.id">
            <td class="mdl-data-table__cell--non-numeric">{{thema.name}}</td>
            <td><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" @click="showDescription(thema)">Beschreibung anzeigen</button></td>
            <td class="radio-buttons">
              <b-form-radio-group
                id="btn-radios"
                v-model="selected[index]"
                :options="options"
                value-field="item"
                text-field="name"
                buttons
                button-variant="outline-primary"
                size="lg"
                name="radio-btn-outline"
              ></b-form-radio-group>
            </td>
          </tr>
        </table>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-on:click="sendPrios()">Prioritäten senden</button>
        </div>

        <Modal_Description
        :titleText="themaNameModal" 
        :bodyText="themaDescriptionModal"
        @success="hideDescription()"
    />
    </div>
</template>

<script>
/* eslint-disable no-empty */
import themaService from '../service/ThemaService';
import $ from "jquery";
import Modal_Description from './Util/Modal-Description.vue';

export default {
  name: "ThemaPage",
  components: {
    "Modal_Description": Modal_Description
  },
  data: function() {
    return {
      dto: {
        assignThema: {
              name: null,
              description: null
          },
          themas: [
            {id: 0, name:"",description:"",priority:""}
          ]        
      },
      themaNameModal:"",
      themaDescriptionModal:"",
      selected: [],
      preselected: [],
      prios: [],
      options: [
        { name: 'Favorit', item:'FAVORIT'},
        { name: 'Gut', item:'GUT'},
        { name: 'Schlecht', item:'SCHLECHT'}
      ]
    };
  },
  methods: {
    showDescription: function(thema) {
      this.themaNameModal = thema.name;
      this.themaDescriptionModal = thema.description;
      $("#modal-description").modal("show");
    },
    hideDescription: function() {
      $("#modal-description").modal("hide");
    },
    sendPrios() {
      this.prios=[];
      for(var k = 0; k < this.dto.themas.length; k++) {
        if(this.selected[k] == undefined || this.selected[k] == null) {
        } else {
          this.prios.push({themaId:this.dto.themas[k].id,prio:this.selected[k]});
        }
      }
      themaService.sendPrios(this.prios);
    },
    prerender: function() {
      for(var i = 0; i < this.dto.themas.length; i++) {
        if(this.dto.themas[i].priority !== undefined) {
          this.preselected.push(this.dto.themas[i].priority);
        } else {
          this.preselected.push(undefined);
        }
      }
      this.selected = this.preselected;
    }
  },
  created() {
    themaService.getAll().then(response => (this.dto=response.data, this.prerender()));
  },
};
</script>

<style scoped>

</style>