<template>
  <div class="container">
    <div class="form-group">
    
      <h3 class="text-center">Datenschutzerklärung</h3>
      <div>
        <p><button type='button' v-on:click="edit = !edit" v-if="user.role == 'ADMIN' && !edit"  class="form-control btn btn-primary" >Bearbeiten</button></p>
        <p><button type='button' v-on:click="editText()" v-if="user.role == 'ADMIN' && edit"  class="form-control btn btn-primary" >Anwenden</button></p>
        <p><button type='button' v-on:click="edit = !edit" v-if="user.role == 'ADMIN' && edit"  class="form-control btn btn-danger" >Abbrechen</button></p>
      </div>
    </div>
        <div class="card">
          <div class="card-body">
          <div>
            <p v-if="!edit" v-html="text"></p>
            <textarea class="form-control" v-if="user.role == 'ADMIN' && edit" v-model ="text" rows="50" cols="50">
            </textarea>
          </div>
          <br>
      </div>
    </div>
      <button  type='button' v-if="!edit"  v-on:click="refuse" class="buttonSized float-left mdl-button mdl-button--raised mdl-button--accent " >Ablehnen</button>
      <button type='button' v-if="!edit"  v-on:click="accept" class="buttonSized float-right mdl-button mdl-button--raised mdl-button--colored " >Akzeptieren</button>
      
    
    <br>
  
    <br>
    <br>
    <br>

  </div>
</template>
 
<script>
/* eslint-disable no-unused-vars */
import  userService  from '../_services/user.service.js';
export default {
  name: "DataProtection",

  data: function() {
    return {
      text: "",
      edit : false,
    };
  },
   computed: {
     user () {
            return this.$store.state.authentication.user;
        }
   },

  methods: {
    editText(){
      this.edit = !this.edit;
      userService.editPrivacyPolicy(this.text);
    },
    accept(){
         userService.changeDataProtectionStatus().then(response => {
           this.$store.commit('authentication/acceptDataProtection')
           this.login();

         });
         
    },
    refuse() {

        this.$store.dispatch("authentication/logout");
        this.$router.push("/");
      
    },

    login() {
      let user = JSON.parse(localStorage.getItem("user"));
      if (user.role == "STUDENT") {
         this.$router.push("/themas");
      }
      if(user.role == "ADMIN"){
        this.$router.push("/manageThemas")
      }
    }
  },
  
  created(){
      userService.getPrivacyPolicy().then(response => this.text = response.data)
  }
};
</script>
<style>

.buttonSized{
    height:50px;
    width:150px;
}
</style>
