<template>
  <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                  <h2>Hello! Welcome to our project!</h2>
                  <p> {{'Your token is: ' + user.token}}</p>
                  <p> {{'Your role is: ' + user.role}}</p>
                  <h3>Users from secure api end point:</h3>
                  <em v-if="users.loading">Loading users...</em>
                  <span v-if="users.error" class="text-danger">ERROR: {{users.error}}</span>
                  <ul v-if="users.items">
                      <li v-for="user in users.items" :key="user.id">
                          {{'Username: ' + user.nickname +' First Name: ' + user.name + ' Last Name: ' + user.surname}}
                      </li>
                  </ul>
                  <p>
                      <router-link to="/login">Logout</router-link>
                  </p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
//Wird nach einem Login Angezeigt
//User werden in den Vuex-State durch den Vue-Lifecycle Hook create() geladen
export default {
  name: 'HomePage',
  computed: {
        user () {
            return this.$store.state.authentication.user;
        },
        users () {
            return this.$store.state.users.all;
        }
    },
    created () {
        
        if(this.$store.state.authentication.user){
              if (this.$store.state.authentication.user.role == 'ADMIN') {
                  this.$router.replace('/users')
              } else {
                  this.$router.replace('/themas')
              }
        }else{
          this.$router.replace({ name: 'LoginPage'});
        }
    }
}
</script>
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
