<template>
    <div class="signup">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <h2 class="text-center">Registrieren eines neuen Benutzers</h2>
                    <form @submit.prevent="handleSubmit">
                        <div class="form-group">
                            <input type="text" placeholder="Benutzername" v-model="username" name="username" id="usname" class="form-control" :class="{ 'is-invalid': submitted && !username }" />
                            <div v-show="submitted && !username" class="invalid-feedback">Benutzername ist erforderlich</div>
                            <input type="text" placeholder="Vorname" v-model="name" name="name" id="name" class="form-control" :class="{ 'is-invalid': submitted && !name }" />
                            <div v-show="submitted && !name" class="invalid-feedback">Vorname ist erforderlich</div>
                            <input type="text" placeholder="Nachname" v-model="surname" name="surname" id="surname" class="form-control" :class="{ 'is-invalid': submitted && !surname }" />
                            <div v-show="submitted && !surname" class="invalid-feedback">Nachname ist erforderlich</div>

                            <input type="password" placeholder="Passwort" v-model="password" name="password" id="pass" class="form-control" :class="{ 'is-invalid': submitted && !password }" />
                            <div v-show="submitted && !password" class="invalid-feedback">Passwort ist erforderlich</div>
                            <input type="password" placeholder="Passwort wiederholen" v-model="passwordrepeat" name="passwordrepeat" id="passrepeat" class="form-control" :class="{ 'is-invalid': notSamePasswords }" />
                            <div v-show="notSamePasswords" class="invalid-feedback">Passwörter stimmen nicht überein</div>
                        </div>
                        <div class="form-group">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" :disabled="notSamePasswords"><i class="fas fa-user-plus"></i>Registrieren</button>
                        </div>
                    </form>
                    <div class="form-group" v-on:click="handleRedirect()">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Go to Login Page</button>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>
/* eslint-disable no-unused-vars */
import router from '../_helpers'
import toast from '../_helpers/toast.js'
import { log } from 'util';

export default {
    data() {
        return {
            username: '',
            name: '',
            surname: '',
            password: '',
            passwordrepeat: '',
            submitted: false
        }
    },

    created () {
        // reset login status
        this.$store.dispatch('authentication/logout');
    },

    methods: {
        handleSubmit (e) {
            this.submitted = true;
            //const { username, password } = this;
            const { username, name, surname, password } = this;
            const { dispatch } = this.$store;
            if (username && password) {
                log("registerpage");
                dispatch('authentication/register', { username, name, surname, password });
            }
        },
        handleRedirect(e){
            this.$router.push('/login')
        }
    },
    computed: {
        notSamePasswords () {
				return !(this.password == this.passwordrepeat);
		}
    }
};
</script>

<style scoped>
.signup {
    width: 850px;
    height: 550px;
    margin: 7vh auto;
    background-color: #f3f3f3;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#usname {
    margin-bottom: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#pass {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
</style>
